<div class="container my-5">
   <!-- <div *ngIf="empData">
      <h5>my name is : {{empData?.name }} and my gender is :
       {{ empData?.gender}}</h5>
   </div> -->
   
   <!-- 
      template refrence replace @output
      <h4 #employeeData></h4>
   (click)="employeeData.innerHTML = childComponent.getEmployeeNameAndGender()"
   #childComponent -->
   <div *ngFor="let emp of employees" @enabledStateChange >
      <!-- (click)="onClick(emp.id)" -->
      <a [routerLink]="['/employee',emp.id]">
         <app-dispaly-employee [employee]="emp" ></app-dispaly-employee>
      </a>
      
      <!-- (notify)="handleNotify($event)" -->
   </div>
</div>
<!-------------- dispaly one employee for click------------ -->
<!-- <div class="container">
 <button type="button"  (click)="nextEmployee()" class="btn btn-success mt-5" >View Next Employee</button>
   <app-dispaly-employee [employee]="employeeToDisplay" [employeeId]="1" > </app-dispaly-employee>
  
</div> -->
